<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" sizes="64x64">
        <title>Snazzy Translation Machine</title>
    </head>
    <body>
        <button onClick = "changeLang(this)">currently translating: english to german</button>
        <form method='POST'>
            <label for="translate">Write sentence to translate:</label>
            <input type="text" name="translationinput"/>
            <input type="text" name="language" class = "stayhidden" value= "e"/>
            <input type="submit" value="Submit"/>
        </form>
        <script>
            function changeLang(element) {
                if(element.innerText.includes("english to german")) {
                    element.innerText = "currently translating: german to english"
                    element.parentNode.children[1].children[2].value = "g"
                } else {
                    element.innerText = "currently translating: english to german"
                    element.parentNode.children[1].children[2].value = "e"
                }
            }
        </script>
    </body>
</html>